@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border border-background;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: 210 40% 98%;
  --foreground: 240 10% 3.9%;
  --primary: 192 91% 36%;
  --primary-hv: 193 82% 31%;
  --secondary: 185 96% 90%;
  --secondary-hv: 186 94% 82%;
  --tertiary: 192 91% 36%;
  --tertiary-hv: 185 96% 90%;
  --muted: 186 94% 82%;
  /* --accent: 185 95.9% 90.4%; */
  --danger: 0 84.2% 60.2%;
  --danger-hv: 0 72% 51%;
  --success: 142 76% 36%;
  --success-hv: 142 72% 29%;

  /* Radius */
  --radius: 0.5rem;
}

.dark {
  --background: 255 0% 14%;
  --foreground: 210 40% 98%;
  --primary: 255 92% 76%;
  --primary-hv: 252 95% 85%;
  --secondary: 263 69% 42%;
  --secondary-hv: 263 70% 50%;
  --tertiary: 255 92% 76%;
  --tertiary-hv: 261 73% 23%;
  --muted: 186 94% 82%;
  /* --accent: 185 95.9% 90.4%; */
  --danger: 0 84.2% 60.2%;
  --danger-hv: 0 72% 51%;
  --success: 142 76% 36%;
  --success-hv: 142 72% 29%;
}

.warm {
  --background: 33 100% 96%;
  --foreground: 0 10% 3.9%;
  --primary: 21 90% 48%;
  --primary-hv: 17 88% 40%;
  --secondary: 32 98% 83%;
  --secondary-hv: 31 97% 72%;
  --tertiary: 21 90% 48%;
  --tertiary-hv: 34 100% 92%;
  --muted: 21 90% 48%;
  /* --accent: 185 95.9% 90.4%; */
  --danger: 0 84.2% 60.2%;
  --danger-hv: 0 72% 51%;
  --success: 142 76% 36%;
  --success-hv: 142 72% 29%;
}

@layer components {
  .input {
      @apply bg-background text-foreground rounded-md border-secondary hover:border-primary 
      focus:outline-none focus:ring-1 focus:ring-primary;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-4 py-2 font-semibold transition-colors border border-foreground
    hover:bg-foreground hover:text-background focus:outline-none focus:ring-1 focus:ring-foreground;
  }

  .btn-primary {
    @apply bg-primary text-background border-primary
    hover:bg-primary-hv;
  }

  .btn-secondary {
    @apply bg-secondary text-foreground border-secondary
    hover:bg-secondary-hv hover:text-foreground;
  }

  .btn-tertiary {
    @apply bg-background text-tertiary border-tertiary
    hover:bg-tertiary-hv hover:text-tertiary;
  }

  .btn-disable {
    @apply bg-primary text-background border-primary cursor-not-allowed
    hover:bg-primary opacity-30;
  }

  .btn-success {
    @apply bg-success text-background border-success
    hover:bg-success-hv;
  }

  .btn-danger {
    @apply bg-danger text-background border-danger
    hover:bg-danger-hv;
  }
}

