@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-0 m-0 border-background;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: 210 40% 98%;
  --foreground: 240 10% 3.9%;
  --primary: 192 91% 36%;
  --primary-hv: 193 82% 31%;
  --secondary: 187 92% 69%;
  --secondary-hv: 188 86% 53%;
  --tertiary: 192 91% 36%;
  --tertiary-hv: 186 94% 82%;
  --muted: 186 94% 82%;
  /* --accent: 185 95.9% 90.4%; */
  --danger: 0 84.2% 60.2%;
  --danger-hv: 0 72% 40%;
  --success: 142 76% 36%;
  --success-hv: 142 72% 29%;

  /* Radius */
  --radius: 0.5rem;
}

.dark {
  --background: 255 0% 14%;
  --foreground: 210 40% 98%;
  --primary: 189 94% 43%;
  --primary-hv: 192 91% 36%;
  --secondary: 193 82% 31%;
  --secondary-hv: 192 91% 36%;
  --tertiary: 189 94% 43%;
  --tertiary-hv: 196 64% 24%;
  --muted: 186 94% 82%;
  /* --accent: 185 95.9% 90.4%; */
  --danger: 0 84.2% 60.2%;
  --danger-hv: 0 72% 40%;
  --success: 142 76% 36%;
  --success-hv: 142 72% 29%;
}

.warm {
  --background: 33 100% 96%;
  --foreground: 0 10% 3.9%;
  --primary: 17 88% 40%;
  --primary-hv: 15 79% 34%;
  --secondary: 31 97% 72%;
  --secondary-hv: 27 96% 61%;
  --tertiary: 17 88% 40%;
  --tertiary-hv: 32 98% 83%;
  --muted: 21 90% 48%;
  /* --accent: 185 95.9% 90.4%; */
  --danger: 0 84.2% 60.2%;
  --danger-hv: 0 72% 40%;
  --success: 142 76% 36%;
  --success-hv: 142 72% 29%;
}

@layer components {
  
  .input {
    @apply bg-background text-foreground rounded-md border border-secondary hover:border-primary 
      focus:outline-none focus:ring-1 focus:ring-primary;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-4 py-2 font-semibold transition-colors border border-foreground
    hover:bg-foreground hover:text-background focus:outline-none focus:ring-0;
  }

  .btn-primary {
    @apply bg-primary text-background border-primary
    hover:bg-primary-hv;
  }

  .btn-secondary {
    @apply bg-secondary text-foreground border-secondary
    hover:bg-secondary-hv hover:text-foreground;
  }

  .btn-tertiary {
    @apply bg-background text-tertiary border-tertiary
    hover:bg-tertiary-hv hover:text-tertiary;
  }

  .btn-disable {
    @apply bg-primary text-background border-primary cursor-not-allowed
    hover:bg-primary opacity-30;
  }

  .btn-success {
    @apply bg-success text-background border-success
    hover:bg-success-hv;
  }

  .btn-danger {
    @apply bg-danger text-background border-danger
    hover:bg-danger-hv;
  }
}
